  
<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="我们不是精彩的缔造者，我们只是精彩的分享者。">
    <meta name="author" content="我们不是精彩的缔造者，我们只是精彩的分享者。">
    <link rel="shortcut icon" href="__PUBLIC__/images/title-logo.gif">
    <title>首页-后台管理</title>
    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="__PUBLIC__/css/package/layout.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
  </head>

  <body>

    <!-- Fixed navbar header.导航栏 -->
    <include file="Admin@Public/menu" />

   <div class="main-container">

      <div class="projects-header page-header">
          <h3>非缔造  纯分享</h3>
          <small>- - - 我们不是精彩的缔造者，我们只是精彩的分享者。</small>
      </div>
      
      <div class="row">

        <div class="col-sm-6 col-md-4 ">  <!-- row  1 -->
          <div class="thumbnail">
            <h3 align="center"> 
                <i class="icon-th-large"></i> 内容管理
            </h3>
            <div class="caption">
              
              <p align="center">发布并分享来自网页世界里的精彩内容。</p>
              <p align="center">
                <a class="btn btn-primary" role="button" href="__ROOT__/Admin/Web/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/Web/listall/status/0/type/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/Web/listall/status/1/type/0"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/Web/listall/status/2/type/0"><i class="icon-lock"></i> Disable</a>
                </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 ">    <!-- row  2 -->
           <div class="thumbnail">
            <h3 align="center"> 
                 <i class="icon-tags"></i> 标签管理
            </h3>
            <div class="caption">
              <p align="center">给每个精彩内容添加N个标签，分类、快速查找。</p>
              <p align="center">
                <a class="btn btn-primary" role="button" href="__ROOT__/Admin/Tag/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/Tag/listall/status/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/Tag/listall/status/1"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/Tag/listall/status/2"><i class="icon-lock"></i> Disable</a>
              </p>
            </div>
          </div>
        </div>


        <div class="col-sm-6 col-md-4 ">   <!-- row  3 -->
         <div class="thumbnail">
            <h3 align="center"> 
               <i class="icon-globe"></i> 热门网站
              </h3>
            <div class="caption">
             
              <p align="center">更多精彩内容都来自于同一网站。</p>
              <p align="center">
                 <a class="btn btn-primary" role="button" href="__ROOT__/Admin/Website/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/Website/listall/status/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/Website/listall/status/1"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/Website/listall/status/2"><i class="icon-lock"></i> Disable</a>
              </p>
            </div>
          </div>
        </div>

      </div>  <!-- end row -->  

      <div class="row">

        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
             <h3 align="center"> 
                <i class="icon-user"></i> 用户管理
              </h3>
            <div class="caption">
             
              <p align="center">用户包括：会员，管理员。</p>
               <p align="center">
                 <a class="btn btn-primary" role="button" href="__ROOT__/Admin/User/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/User/listall/status/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/User/listall/status/1"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/User/listall/status/2"><i class="icon-lock"></i> Disable</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 ">
          <div class="thumbnail">
            <h3 align="center"> 
                <i class="icon-twitter"></i> 网站历程
              </h3>
            <div class="caption">
              
              <p align="center">记录网站的点点滴滴成长历史。</p>
               <p align="center">
                <a class="btn btn-primary" role="button" href="__ROOT__/Admin/Blog/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/Blog/listall/status/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/Blog/listall/status/1"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/Blog/listall/status/1"><i class="icon-lock"></i> Disable</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 ">
         <div class="thumbnail">
           <h3 align="center"> 
               <i class="icon-spinner"></i> 更多内容
              </h3>
            <div class="caption">
              
              <p align="center">挖掘并实现更多功能的展示。</p>
               <p align="center">
                 <a class="btn btn-primary" role="button" href="__ROOT__/Admin/Web/addinfo"><i class="icon-plus"></i> 添加</a>
                <a class="btn btn-info" role="button" href="__ROOT__/Admin/Web/listall/status/0/type/0"><i class="icon-spinner"></i> 审核</a> 
                <a class="btn btn-success" role="button" href="__ROOT__/Admin/Web/listall/status/0/type/0"><i class="icon-unlock"></i> Enable</a></a>
                <a class="btn btn-warning" role="button" href="__ROOT__/Admin/Web/listall/status/0/type/0"><i class="icon-lock"></i> Disable</a>
              </p>
            </div>
          </div>
        </div>

       </div>
    </div>    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>
    <script src="__PUBLIC__/js/package/myweb.js"></script>
    <script src="__PUBLIC__/js/package/jquery.scrollUp.min.js"></script>
    <a id="scrollUp" href="#top" title="" style="position: fixed; z-index: 2147483647; display: none;"> </a>
  </body>
</html>
